<IfModule mod_rewrite.c>
# Turn on the engine:
RewriteEngine on

# Set the base to this directory:
RewriteBase /big5sports/hub/

# Redirect certain paths to index.php for viewing:
RewriteRule ^([0-9]+)/?$ index.php?view=$1
RewriteRule ^([abc]+)/?$ index.php?view=$1
RewriteRule ^rugby/(news|lineups|fixtures|logs|results|bookies|predictions)/?$ index.php?view=$1

# hide .php filename extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

</IfModule>